* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: space-between;
    min-height: 95vh;
    margin-top: 10px;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-top: 5px;
    margin-bottom: 30px;
    flex: 1;
    position: absolute;
}

input{
    width: 13rem;
}

table {
    width: 45rem;
    border-collapse: collapse;
    margin-bottom: 20px;
    float: right;
    flex: 2;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
thead {
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

button:hover {
    background-color: #218838;
}
